<p class="p-2 text-muted text-center">Bem-vind@ ao canal de comunicação oficial do CACC UFFS!</p>
<hr class="featurette-divider">
{% if page_paths %}
<div class="nav-scroller py-1 mb-2 ">
  <nav class="nav d-flex justify-content-between">
    {% for link in site.navigation %}{% assign current = nil %}{% if page.url contains link.url or forloop.first and page.url == '/' or page.url == 'index.html%}{% assign current = 'current' %}{% endif %}
      <a class="p-2 text-muted" href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
    {% endfor %}
  </nav>
</div>
{% endif %}
