<p class="p-2 text-muted text-center">Bem-vind@ ao canal de comunicação oficial do CACC UFFS!</p>
<hr class="featurette-divider">
{% if page_paths %}
<div class="nav-scroller py-1 mb-2 ">
  <nav class="nav d-flex justify-content-between">
    <a class="p-2 text-muted" href="/">Home</a>
    <a class="p-2 text-muted" href="/curso">O Curso</a>
    <a class="p-2 text-muted" href="/faq">F.A.Q.</a>
    <a class="p-2 text-muted" href="/contato">Contato</a>
    <a class="p-2 text-muted" href="/sobre">Sobre</a>
  </nav>
</div>
{% endif %}
