---
layout: default
---
<div class="home">
  {{ content }}
  <div class="container">
    {% for post in site.posts %}
      <div class="noticia">
        <a href="{{ post.url | prepend: site.baseurl }}" style="color:#505050;text-decoration:none">
          <h4>{{ post.title }}</h4>
        </a>
        <span class="post-meta"> {{ post.date | date_to_long_string }}</span>
        <p class="card-text">{% if post.description %}{{ post.description }}{% else %}{{ post.excerpt | strip_html }}{% endif %}</p>
        <p class="text-right"><a href="{{ post.url | prepend: site.baseurl }}"> continue lendo...</a></p>
    </div>
    {% endfor %}
  </div>
</div>
